<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret konto</title>
</head>
<body>
<h1>Opret konto</h1>

<form th:action="@{/register}" th:object="${user}" method="post">

    <label for="username">Username:</label><br>
    <input type="text" id="username" th:field="*{username}"><br><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{email}"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}"><br><br>

    <label for="mode">Valideringsmode:</label><br>
    <select id="mode" name="mode">
        <option value="SIMPLE">Simple</option>
        <option value="STRICT">Strict</option>
    </select><br><br>

    <button type="submit">Opret</button>
</form>
</body>
</html>